/*User profile CSS*/

/* some basic styles for the profile page. */
@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

.text-center {
  text-align: center !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* some styles for profile card */
body {
  font-size: 16px;
}

.card-block .row p {
  font-size: 1rem;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

h6.user-profile-filed {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
  color: var(--bs-heading-color, inherit);
}

h6.user-profile-section {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--bs-heading-color, inherit);
}

.padding {
  padding: 2.2rem 1rem 2.2rem 1rem !important;
  max-width: 1024px;
  margin: auto;
}

.card {
  /* card boarder shadow effect */
  /* border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08); */
  border: none;
}

.user-card-full {
  overflow: hidden;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* profile photo background */
/* .bg-c-lite-green {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5a75ee),
    to(#63ddf2)
  );
  background: linear-gradient(to right, #5a75ee, #63ddf2);
} */

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.img-radius {
  border-radius: 5px;
}

.card .card-block p {
  line-height: 25px;
}

.card-block {
  padding: 1.25rem;
}

.card .card-block p {
  line-height: 25px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-400 {
  font-weight: 400;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-t-40 {
  margin-top: 20px;
}
