<html>


    <head>
        <!--CSS-->
            <meta charset="utf-8" naem="viewport" content="width=device-width"/>
            
        <title>footer</title>
    
        </head>

    <body>
            <footer>
                <div class = "footer-main-content">
                    <h3>Lincoln Leave Management</h3>
                    <p>Brought to you by the University of Lincoln</p>

                    <ul class = "social-media">
                        <li><a href="https://www.facebook.com/LincolnUniNZ"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/LincolnUniNZ"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/lincolnuninz"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://nz.linkedin.com/school/lincolnuninz"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://www.lincoln.ac.nz"><i class="fa-solid fa-school"></i></a></li>

                    </ul>
                    <p>Designed by Group 1</p>
                <div>
                    <div class = "footer-bottom">
                        
                    </div>
                </div>

                </div>



            </footer>



    </body>




</html>